robotframework==7.0.1
robotframework-databaselibrary==1.4.4
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.7
pyyaml==6.0.1
cx_Oracle==8.3.0
robotframework-excellib==2.0.1
PyJWT==2.9.0
python-jwt==4.1.0
python-gnupg==0.5.3